<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css' integrity='sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ==' crossorigin='anonymous' />
    <title>Boolzap</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="utilities.css">
</head>

<body>

    <div id="root" class="wrapper">

        <div class="container">

            <!-- Creo la parte SX -->

            <aside class="users">

                <div class="nav">

                    <div class="user-logo">
                        <img src="./img/avatar_io.jpg" alt="user logo">
                        <span class="nav-name">Sofia</span>
                    </div>

                    <div class="setting-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="aside-top">

                    <div class="notifiche">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <u class="subtitle">Attiva notifiche desktop</u>
                    </div>

                    <div class="search">
                        <i class="fa-solid fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>

                </div>

                <div class="user-list">
                    <ul>

                        <li @click="activeUser = index" v-for="(user,index) in users">
                            <div class="user-logo">

                                <img :src=`img/avatar${users[index].avatar}.jpg` :alt="user.name">

                                <div class="nav-name">
                                    <span>{{user.name}}</span>
                                    <span class="subtitle ">Ultimo messaggio inviato</span>
                                </div>
                            </div>
                            <div class="orario subtitle ">
                                12:00
                            </div>
                        </li>

                    </ul>
                </div>

            </aside>

            <!-- Creo la parte DX -->

            <section>

                <div class="nav ">

                    <div class="user-logo ">

                        <span class="logo ">
                            <img src="./img/avatar_1.jpg " alt="user logo ">
                        </span>
                        <span class="nav-name ">Michele</span>
                        <span class="subtitle ">Ultimo accesso oggi alle 12:00</span>
                    </div>

                    <div class="setting-icons ">
                        <i class="fa-solid fa-search "></i>
                        <i class="fa-solid fa-paperclip "></i>
                        <i class="fa-solid fa-ellipsis-vertical "></i>
                    </div>
                </div>

                <!-- Creo messaggi in base all'utente -->

                <div class="main-section ">

                    <div v-for="message in users[activeUser].messages" class="message" :class="message.status">{{message.message}}</div>

                </div>

                <div class="section-chat ">

                    <div class="left-section ">
                        <i class="fa-regular fa-face-smile "></i>
                    </div>

                    <input v-model="text" @keyup.enter.trim="addMessage(text,activeUser)" type="text " placeholder="Scrivi un messaggio ">

                    <div class="right-section ">
                        <i class="fa-solid fa-microphone "></i>
                    </div>

                </div>

            </section>


        </div>






    </div>
    <script src="script.js "></script>
</body>

</html>